.card-hover-light:hover {
    background-color: #F3F3F3;
}

.card-hover-primary:hover {
    background-color: #762fff;
    color: #FFFFFF !important;
    transition: .2s ease-in-out;
}

.card-hover-primary:hover .tag-primary {
    background-color: #9159FF !important;
    color: #FFFFFF !important;
}

.card-hover-primary:hover .btn-primary {
    filter: invert(1);
}

.hover-second:hover div:nth-child(2) div p {
    color: #FFFFFF !important;
}

.hover-third:hover div:nth-child(3) div p {
    color: #FFFFFF !important;
}