.card-hover-light:hover {
    background-color: #F3F3F3;
}

.card-hover-primary:hover {
    background-color: #762FFF;
    color: #FFFFFF !important;
}

.hover-second:hover div:nth-child(2) div p {
    color: #FFFFFF !important;
}

.hover-third:hover div:nth-child(3) div p {
    color: #FFFFFF !important;
}