.border-foucs:focus {
    border-color: #8207C9 !important;
    box-shadow: none;
}

.modal-header {
    border-bottom: none !important
}

.input-field {
    border-radius: 30px;
    border-width: 3px;
}

.input-field:focus {
    border: 2px solid #8207C9;
}