.accordion-button:focus {
    z-index: 3 !important;
    border-color: none !important;
    /* outline: 0;s */
    box-shadow: none !important;
}

.accordion-button:not(.collapsed) {
    color: black !important;
    background-color: white !important;
    box-shadow: none !important;
}

.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 16' fill='%23000000'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion-button::after {
    /* margin-left: 125px;
    margin-right: 125px; */
}

.accordion-button {
    padding: 0% !important;
    /* padding-top: 5% !important; */
    margin: 0% !important;
}

.accordion-body {
    padding: 0%;
    padding-top: 5% !important;
    margin: 0% !important;
}

/* desktop */
@media (min-width: 1199.98px) {
    .height-bottom {
        height: 75% !important;
    }
}

/* tab */

@media (max-width: 1199.98px) {
    .height-bottom {
        height: 80% !important;
    }
}

/* mob */
@media (max-width: 767.98px) {
    .shadow-bottom {
        background: #FFFFFF;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    }

    .height-bottom {
        height: 80% !important;
    }
}