.css-vjfk8i-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: grey !important;
}

.meaningless-key-vjfk8i-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: gray !important;
}

.muiltr-vjfk8i-MuiFormLabel-root-MuiInputLabel-root {
    color: grey !important;
}

.muirtl-vjfk8i-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: grey !important;
}

.muiltr-1wjfk1i.Mui-focused {
    color: grey !important;
}