.css-1dd3tiy-MuiInputBase-root-MuiOutlinedInput-root {
    border-radius: 30px !important;
    /* border: 1px solid black; */
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1.5px solid #101010 !important;
}

.muiltr-1sqnrkk-MuiInputBase-input-MuiOutlinedInput-input {
    color: #101010 !important;
}

.MuiOutlinedInput-notchedOutline {
    border-radius: 10px !important;
}