.my-dropdown-toggle::after {
    content: none;
}

.dropdown-item:active {
    background-color: white !important;
}

.dropdown-hover:hover {
    background-color: #F3F3F3 !important;
    color: #AD50F0 !important;
    border: 1px solid #AD50F0 !important;
}

.dropdown-hover {
    background-color: #F3F3F3 !important;
    color: #AD50F0 !important;
    border: 1px solid #AD50F0 !important;
}

.dropdown-items {
    color: #1e2125 !important; 
    background-color: #e9ecef !important;
}

.dropdown-item:hover {
    color: #1e2125 !important;
    background-color: #e9ecef !important;
}