.search-box {
    height: 52px;
    border-radius: 100px;
    background-color: #F3F3F3;
    align-items: center;
}

input:focus{
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}