.search-box {
    height: 52px;
    border-radius: 100px;
    background-color: #F3F3F3;
    align-items: center;
}

.search-box-active {
    height: 52px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #F3F3F3;
    align-items: center;
}

.search-box-extend {
    position: absolute;
    /* height: 200px; */
    background-color: #F3F3F3;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.filter:hover {
    background-color: rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

input:focus {
    outline: none !important;
    outline-width: 0 !important;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}


/* mobile */
@media (max-width: 768.98px) {

    .display-search-icon {
        position: relative;
    }

    .search-icon {
        position: absolute;
        right: 0;
        /* top: 0; */
    }

    .wid {
        width: 50%;
    }

    .placeholder-color::placeholder {
        color: black
    }

}

/* desktop */
@media (min-width: 1199.98px) {
    .wid {
        width: 100%;
    }

    .placeholder-color::placeholder {
        color: #9f9f9f;
    }

    .hover:hover{
        background-color: #E7E7E7;
        transition: .2s ease-in-out;
    }
}