.search {
    border-radius: 5px;
    width: 100%;
}

.search__input {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #cfcfcf;
    border-top: 0px solid black;
    border-left: 0px solid black;
    border-right: 0px solid black;
    font-size: 14px;
    background-color: white;
    padding: 0px 0px 0px 3px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search :focus {
    border-bottom: 2px solid #8207C9;
}