/* Desktop */
@media (min-width: 992px) {
  .background-img {
    background-image: url("../../../../assets/images/BG.jpg");
  }

  .fade-in {
    animation-name: fade-in;
    animation-duration: 0.2s;
    visibility: hidden;

    /* opacity: 0; */
    /* animation-timing-function: ease-in-out; */
  }

  .fade-out {
    animation-duration: 0.2s;
    visibility: visible;
    animation-name: fade-out;
    /* margin-bottom: -100px; */
  }

  @keyframes fade-in {
    0% {
      opacity: 1;
      visibility: visible;
    }

    10% {
      opacity: 0.9;
      visibility: visible;
      margin-top: -10px;
    }

    20% {
      opacity: 0.8;
      visibility: visible;
      margin-top: -20px;
    }

    30% {
      opacity: 0.7;
      visibility: visible;
      margin-top: -30px;
    }

    40% {
      opacity: 0.6;
      visibility: visible;
      margin-top: -40px;
    }

    50% {
      opacity: 0.5;
      visibility: visible;
      margin-top: -50px;
    }

    60% {
      opacity: 0.4;
      visibility: visible;
      margin-top: -60px;
    }

    70% {
      opacity: 0.3;
      visibility: visible;
      margin-top: -70px;
    }

    80% {
      opacity: 0.2;
      visibility: visible;
      margin-top: -80px;
    }

    90% {
      opacity: 0.1;
      visibility: visible;
      margin-top: -90px;
    }

    100% {
      opacity: 0;
      visibility: visible;
      margin-top: -100px;
    }
  }


  @keyframes fade-out {
    0% {
      opacity: 0;
      visibility: hidden;
      margin-top: -100px;
    }

    10% {
      opacity: 0.1;
      visibility: visible;
       margin-top: -90px;
    }

    20% {
      opacity: 0.2;
      visibility: visible;
       margin-top: -80px;
    }

    30% {
      opacity: 0.3;
      visibility: visible;
       margin-top: -70px;
    }

    40% {
      opacity: 0.4;
      visibility: visible;
       margin-top: -60px;
    }

    50% {
      opacity: 0.5;
      visibility: visible;
       margin-top: -50px;
    }

    60% {
      opacity: 0.6;
      visibility: visible;
       margin-top: -40px;
    }

    70% {
      opacity: 0.7;
      visibility: visible;
       margin-top: -30px;
    }

    80% {
      opacity: 0.8;
      visibility: visible;
       margin-top: -20px;
    }

    90% {
      opacity: 0.9;
      visibility: visible;
       margin-top: -10px;
    }

    100% {
      opacity: 1;
      visibility: visible;
      margin-top: 0px;
    }
  }


  /* 
  @keyframes fade-out {
    from {
      opacity: 1;
      display: block;
    }

    to {
      opacity: 0;
    }
  } */

}

/* large */

@media (max-width: 991.99px) {
  .background-img {
    background-image: url("../../../../assets/images/BGTablet.png");
  }

  .padding-search {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/* Medium */
@media (max-width: 767.98px) {
  .background-img {
    background-image: url("../../../../assets/images/BG-MOB.png");
  }
}